<nav aria-label="Top Toolbar" class="navbar_custom">

    <button mat-icon-button color="secondary" [matMenuTriggerFor]="dropUser" class="float-right">
        <mat-icon aria-hidden="false" aria-label="Botão com lista para os usuários">more_vert</mat-icon>
    </button>

    <button mat-button color="secondary" [routerLink]="['/']">
        <mat-icon aria-hidden="false" aria-label="Home da página">home</mat-icon>
    </button>


    <!-- drops -->
    <mat-menu #dropUser="matMenu">
        <button [routerLink]="['/login']"  mat-menu-item>LogIn</button>
        <button [routerLink]="['/signin']" mat-menu-item>SignIn</button>
    </mat-menu>
</nav>