@import './../../assets/scss/colors';

.navbar_custom{
    width: 100%;
    background: $primary;
    color: $white;
    padding: 1em 2em;
}
ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-between;
    margin: 0;
}