@import './../../../assets/scss/colors';
.check-icon{
    height: 65%;
    width: 50%;
    fill: $primary;
}

.center-object{
    margin: 0 auto;
    text-align: center;
}

.h-auto{
    height: auto;
}